.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.navigation {
  text-transform: uppercase;
  gap: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}